.btn {
  &.sun1 {
    @include set-color($sun1-color);
    &:hover {
      @include set-hover($sun1-color);
      color: black;
    }
  }
  &.sun2 {
    @include set-color($sun2-color);
    &:hover {
      @include set-hover($sun2-color);
      color: black;
    }
  }
  &.sun3 {
    @include set-color($sun3-color);
    &:hover {
      @include set-hover($sun3-color);
      color: black;
    }
  }
  &.blue {
    @include set-color($blue-color);
    &:hover {
      @include set-hover($blue-color);
    }
  }
}

.explan-page{
  .expage {
    nav {
 
      &.g1 {
      background-color: $purple1-color;
      border: 8px solid $purple4-color;

      &:hover {
        opacity: 0.9;
      }
      }
    &.g2 {
     background-color: $purple2-color;
     border: 8px solid $purple4-color;

     &:hover {
      opacity: 0.9;
    }
      }
    &.g3 {
      background-color: $purple3-color;
      border: 8px solid $purple4-color;

      &:hover {
        opacity: 0.9;
      }
      }
    }
  }
}

.career-page {
  section {
    &.setmeal8 {
     background: url('../img/a2.jpg')no-repeat center center/cover;
   }

    &.saizeriya{
      background: url('../img/a3.jpg')no-repeat center center/cover;
    }

    &.sazanka{
      background: url('../img/a1.jpg')no-repeat center center/cover;
      
      .content {
        h2 {
          color: $light-color;
        }
        p {
          color: $light-color;
        }
        
      .btn {
        background-color: $light-color;
        color: $dark-color;

        &:hover {
          color: $light-color;
          background-color: $dark-color;
        }
      }
      }
    }
  }
}

.academic-page {
  .academic {
    .primary {
      background: url('../img/b5.jpg')no-repeat center center/cover;
    } 
    .secondary {
      background: url('../img/b6.jpg')no-repeat center center/cover;
    }
    .high {
      background: url('../img/b7.jpg')no-repeat center center/cover;
    }
    .university {
      background: url('../img/b8.jpg')no-repeat center center/cover;
    }
  }
}

