* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction:column;
    }


  .container {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  table{
    margin: 30px auto;
    height: 900px;
    width: 650px;
    border: #3f0458 solid 5px;
  }
  
  .name {
    background: #3671f1;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .schoolyear {
    background:#3d6a92;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 1000;
  }
  
  .week {
    background:#73c0f4;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .number {
    text-align: center;
    background: #996e3d;
    font-weight: bold;
  }
  
  .time {
    text-align: center;
    background: #fce2ae;
  }
  
  .class {
    text-align: center;
    background: #a9def5;
    width: 75px;
    font-size: 14px;
    font-weight: 1000;
  }

  @media (max-width: 700px) {
    table {
      width: 500px;
    }
  }

  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 2;
    display: none;
    width: 5px;
  }
  
  .menu-btn img {
    width: 40px;
  }
  
  .main-nav {
    display: flex;
    align-content: center;
    justify-content: left;
    width: 60%;
    height: 50px;
    padding: 10px;
    margin: auto;
    font-size: 13px;
    background: #4b4a4a;
    border: rgb(24, 1, 31) 2px solid;
    border-radius: 20px;
  }
  
  .main-nav .main-menu {
    flex: 1;
    justify-content: space-between;
  }
  
  .main-nav ul {
    display: flex;
    list-style: none;
  }
  
  .main-nav ul li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #4b4a4a;;
    height: 30px;
  }
  
  .main-nav ul li a {
    padding-bottom: 2px;
    text-decoration: none;
    color: #7acff0;
    font-size: 15px;
    font-weight: bold;
  }
  
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
    opacity: 0.7;
  }
  
  
  @media (max-width: 800px) {
  
    .menu-btn {
     display: block;
   }
  .menu-btn:hover {
    opacity: 0.5;
  }
  
  .main-nav .main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #94d8ff;
    width: 30%;
    height: 100%;
    opacity: 0.9;
    padding: 20px;
    transform: translateX(-500px);
    transition:transform  0.7s ease-in-out;
    z-index: 99;
   }
    
  
   .main-nav ul li {
    margin: 25px auto;
  }
  .main-nav .main-menu.show {
    transform: translateX(0);
  }
  .main-nav .main-menu li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
   }
  }